services:
  # PostgreSQL
  db:
    image: postgres:15-alpine
    container_name: takoyaki_postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - '5433:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $POSTGRES_USER -d $POSTGRES_DB']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - takoyaki-network

  # Redis
  redis:
    image: redis:latest
    container_name: takoyaki-redis
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - takoyaki-network

  # Django
  web:
    build: .
    container_name: takoyaki_django_app
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - '8000:8000'
    environment:
      - DEBUG=${DEBUG}
      - SECRET_KEY=${SECRET_KEY}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND} 
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - takoyaki-network

  # Celery Worker
  celery-worker:
    build: .
    container_name: takoyaki_celery_worker
    command: >
      sh -c "celery -A config worker --loglevel=info"
    volumes:
      - .:/app
    depends_on:
      - web
    networks:
      - takoyaki-network

  # Celery Beat
  celery-beat:
    build: .
    container_name: takoyaki_celery_beat
    command: >
      sh -c "sleep 10 && celery -A config beat --loglevel=info"
    volumes:
      - .:/app
    depends_on:
      - celery-worker
    networks:
      - takoyaki-network

networks:
  takoyaki-network:
    driver: bridge

volumes:
  postgres_data:
